/* GLOBAL RESET */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #e0e9ee, #afd5f0);
  font-family: 'Poppins', sans-serif;
  height: 108vh;
}

/* CENTERED MAIN CONTAINER */
.main-container {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

/* HEADER */
.app-header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.tab-btn {
  padding: 10px 20px;
  background: #e0e7ff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.tab-btn-active {
  background: #3b82f6;
  color: white;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  max-width: 100%
}

/* INPUT */
.input-box {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  margin-bottom: 12px;
}

/* BUTTON */
.button-primary {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-primary:hover {
  background: #1e40af;
}

.button-small {
  background: #10b981;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.page-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}
